<form>
    <div class="main-content">
        {{#each this}}
        <div class="form-group">
            <input type="checkbox" name="{{@key}}.active" {{#if this.active}}checked{{/if}}>
            <label>{{@key}}</label>
            <input type="text" name="{{@key}}.name" value="{{this.name}}" placeholder="{{@key}}">
        </div>
        {{/each}}
    </div>

    <div class="flexrow">
        <button type="submit"><i class="fas fa-save"></i> {{localize "SETTINGS.Save"}}</button>
    </div>
</form>